src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans" 
    xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:rss="http://www.mulesoft.org/schema/mule/rss"
	xmlns:twilio="http://www.mulesoft.org/schema/mule/twilio"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
        http://www.mulesoft.org/schema/mule/rss http://www.mulesoft.org/schema/mule/rss/3.2/mule-rss.xsd
        http://www.mulesoft.org/schema/mule/twilio http://www.mulesoft.org/schema/mule/twilio/1.0/mule-twilio.xsd
        http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/3.2/mule-jdbc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<description>
		rss2sms gateway
	</description>
	
	<context:property-placeholder location="classpath:config.properties"/>
	
	<twilio:config name="twilio-default" accountSid="${twilio.account.sid}" authToken="${twilio.auth.token}"/>

    <spring:bean id="jdbcDataSource"
                 class="org.enhydra.jdbc.standard.StandardDataSource"
                 destroy-method="shutdown">
        <spring:property name="driverName" value="com.mysql.jdbc.Driver"/>
        <spring:property name="url" value="${store.url}"/>
        <spring:property name="user" value="${store.user}"/>
        <spring:property name="password" value="${store.pass}"/>
    </spring:bean>

    <jdbc:connector name="jdbcConnector" pollingFrequency="1000" dataSource-ref="jdbcDataSource" queryTimeout="3000">
        <jdbc:query key="insertIdempotency"
                    value="INSERT INTO STORE(ID, VALUE) VALUES(?, ?)"/>
        <jdbc:query key="selectIdempotency"
                    value="SELECT ID, VALUE FROM STORE WHERE ID = ?"/>
        <jdbc:query key="deleteIdempotency"
                    value="DELETE FROM STORE WHERE ID = ?"/>
    </jdbc:connector>

	<flow name="rss2sms">
		<poll frequency="10000">
			<http:outbound-endpoint address="${rss.url}" />
		</poll>
		<rss:feed-splitter />

        <idempotent-message-filter idExpression="#[groovy:payload.uri]" valueExpression="#[groovy:payload.uri]" throwOnUnaccepted="false">
            <jdbc:object-store
                    jdbcConnector-ref="jdbcConnector"
                    name="jdbcObjectStore"
                    insertQueryKey="insertIdempotency"
                    selectQueryKey="selectIdempotency"
                    deleteQueryKey="deleteIdempotency"/>
        </idempotent-message-filter>

<!-- 
		<expression-filter expression="payload.title.contains('1317')" evaluator="groovy"></expression-filter>
 -->

		<logger level="ERROR" message="rss: #[groovy:payload.title]" />
		
		<twilio:send-sms-message config-ref="twilio-default"
                                 accountSid="${twilio.account.sid}"
                                 from="${twilio.phone.number}"
                                 to="#[string:+54911...]"
                                 body="#[groovy:payload.title]"/>
	</flow>

</mule>
